:root {
    --buttonColor: rgb(0, 179, 250);
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 20px;
}

.bookCard {
    border: 5px solid black;
    border-radius: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.newDiv {
    font-size: 1.25em;
    text-align: center;
}

.bookTitle {
    font-weight: bold;
}

.removeButton {
    background: none;
    border: none;
    align-self: flex-end;
}

.readButton {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    color: black;
}

.readButton.read {
    background-color: rgb(64, 238, 0);
}

.readButton.notRead {
    background-color: rgb(250, 0, 0);
}

img {
    width: 23px;
    height: auto;
    cursor: pointer;
}

.bookButton {
    display: flex;
    justify-content: center;
}

.newBook {
    background-color: var(--buttonColor);
    height: 30px;
    border: none;
    border-radius: 15px;
    color: white;
    width: 150px;
    cursor: pointer;
}

.popUpDisplay {
    border: 10px solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: white;
    width: max(200px, 50vw);
    padding: 30px;
    border-radius: 20px;
}

.popUpDisplay.active {
    transform: translate(-50%, -50%) scale(1);
}

.popUpHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.popUpTitle {
    font-weight: bold;
    font-size: 1.5em;
}

.popUpHeader > button {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
}

.formGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.formPair {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formPair > input {
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px;
    width: clamp(150px, 70%, 500px);
    height: 30px;
}

.radioButtons {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 30px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 5px;
}

.form > button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    background-color: var(--buttonColor);
    color: white;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}